

#cd ~
#git clone https://github.com/frap129/qidi_auto_z_offset
#ln -s ~/qidi_auto_z_offset/auto_z_offset.py ~/klipper/klippy/extras/auto_z_offset.py
# AUTO_Z_PROBE: Probe Z-height at current XY position using the bed sensors
# AUTO_Z_HOME_Z: Home Z using the bed sensors as an endstop
# AUTO_Z_MEASURE_OFFSET Z-Offset measured by the inductive probe after AUTO_Z_HOME_Z
# AUTO_Z_CALIBRATE: Set the Z-Offset by averaging multiple runs of AUTO_Z_MEASURE_OFFSET
# AUTO_Z_LOAD_OFFSET: Apply the calibrated_z_offset saved in the config file
# AUTO_Z_SAVE_GCODE_OFFSET: Save the current gcode offset for z as the new calibrated_z_offset

#Heat the extruder to a reasonable temperature that wont ooze (160+)
# Home all axes
# CLEAR_NOZZLE
# Run AUTO_Z_CALIBRATE
#?Move Z to 0
#?Verify that you can slide a piece of paper under the nozzle
#Run SAVE_CONFIG to save the measured offset.
#Note, this does not modify the z_offset of the inductive probe in your config. This value is only used by auto_z_offset
#Add AUTO_Z_LOAD_OFFSET to your PRINT_START macro to load the value every time you start a print. If you make adujstments to the offset by micro-stepping durring a print, you can save that with AUTO_Z_SAVE_GCODE_OFFSET and SAVE_CONFIG

##############################################

#Shake&Tune command
# AXES_MAP_CALIBRATION      - Verify that your accelerometer is working correctly and automatically find its Klipper's axes_map parameter
# COMPARE_BELTS_RESPONSES   - Generate a differential belt resonance graph to verify relative belt tensions and belt path behaviors on a CoreXY or CoreXZ printer
# AXES_SHAPER_CALIBRATION   - Create the usual input shaper graphs to tune Klipper's input shaper filters and reduce ringing/ghosting
# CREATE_VIBRATIONS_PROFILE - Measure your global machine vibrations as a function of toolhead direction and speed to find problematic ranges where the printer could be exposed to more VFAs in order to optimize your slicer speed profiles and TMC drivers parameters
# EXCITATE_AXIS_AT_FREQ     - Maintain a specific excitation frequency, useful to inspect parasite peaks and find out what is resonating

##############################################

# ACCELEROMETER_QUERY MEASURE_AXES_NOISE

####check WTF
    ## Pause to ensure driver stall flag is clear
    #G4 P2000
###    

[duplicate_pin_override]
pins:
#    U_1:PA2 #beeper-buzzer
#  U_1:PC1 #tenzo pin test todo
# #  gpio21 ,U_1:PC3

###unplug this Pico USB connection before update Freedi ! And rem next line temporary
[include pico.cfg] #additional RP2040 Pico usb for GPIO expand
###violate ENABLE_SFS_SENSOR

[include z_home_proba.cfg] #or
#[include z_home_stallguard.cfg] #or

#Used probes for home & mesh
#[include probe_induct.cfg] #or
#[include probe_tenzo.cfg] # fail ( 
#[include probe_touch.cfg] #
[include probe_micro.cfg] #

[include timelapse.cfg]
[include q1.cfg]
[include gcode_macro.cfg]
[include sur_macro.cfg]
[include z_auto_cal_macro.cfg]

[include freedi.cfg]
[include K-ShakeTune/*.cfg]
[include autotune_tmc.cfg]
[include shell_command.cfg]

### /dev/ttyS1 - Screen

[mcu]
#плата головы RP2040
serial: /dev/ttyS2
restart_method: command
baud: 250000 #500000

[mcu U_1]
#STM32 на основной плате принтера
serial: /dev/ttyS0
restart_method: command
baud: 250000 #500000

[pause_resume]
[display_status]
[exclude_object]
[skew_correction]
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: PAUSE
[save_variables]
filename: ~/printer_data/config/saved_variables.cfg
#[resonance_tester] in Q1.cfg
[respond]
#default_type: echo
[force_move]
enable_force_move : True
[gcode_arcs]
#resolution: 1.0

[shaketune]
#result_folder: ~/printer_data/config/ShakeTune_results
keep_raw_data: False
measurements_chunk_size: 18 #15-20  #def min "2" is a very conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little RAM

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 10000
max_z_velocity: 15
max_z_accel: 500
square_corner_velocity: 5 #8

[input_shaper]
# shaper_type_x: ei
# shaper_freq_x: 64.8
# DAMPING_RATIO_X: 0.033
# shaper_type_y: ei
# shaper_freq_y: 64.6
# DAMPING_RATIO_Y: 0.045
shaper_type_x: ei
shaper_freq_x: 67.8
DAMPING_RATIO_X: 0.041
shaper_type_y: ei
shaper_freq_y: 61.4
DAMPING_RATIO_Y: 0.05

[firmware_retraction]
retract_length: 0 # set in slicer
retract_speed: 10
unretract_speed: 10
unretract_extra_length: 0


# [gcode_button tenzo_test] 
# pin: U_1:PC1 
# press_gcode:
#   QUERY_BUTTON button=tenzo_test
# release_gcode:
#   QUERY_BUTTON button=tenzo_test

[delayed_gcode board_fan_control]
# Startup code
initial_duration: 3
gcode:
      SET_FAN_SPEED FAN=board_fan SPEED=0.4
      SET_FAN_SPEED FAN=filterfan SPEED=0.4 #for freedi lcd clone

      #once
      #SAVE_VARIABLE VARIABLE=my_y_max VALUE=255 #with XY home ofsets
      {% if printer.save_variables.variables.my_y_max !=255 %}
        SAVE_VARIABLE VARIABLE=my_y_max VALUE=255 #with XY home ofsets
      {% endif %}

      # {% if printer.save_variables.variables.adaptive %}
      #   M118 Mesh = ADAPTIVE
      # {% else %}
      #   M118 Mesh = {current_mesh}
      # {% endif %}

      ENABLE_SFS_SENSOR #check insertion inside macros with additional pico pin

[idle_timeout]
gcode:
    M117 Idle state
    M118 Idle state
    TURN_OFF_HEATERS
    M84 # Выключение всех моторов осей
    
    SET_FAN_SPEED FAN=board_fan SPEED=0.2
    SET_FAN_SPEED FAN=filterfan SPEED=0.2 #unused fan - clone for freedi lcd to show

    SET_PIN PIN=caselight value=0
timeout: 2400


#######################################      BED      ############################################

### in cfg files
# [output_pin bed_sensor]
# #[output_pin ctlyd]
# #piezo
# pin: !U_1:PA14
# value: 1 #0

#? [auto_z_offset]
# #for Openq1 & FreeDi
# #[smart_effector]
# pin: U_1:PC1
# z_offset: -0.2 #-0.07 default is -0.1
# speed: 5 #8
# probe_accel: 50
# samples: 6 #4 #6
# samples_result: median #average
# samples_tolerance: 0.03 #0.05
# samples_tolerance_retries: 3 #2
# prepare_gcode:
#     SET_PIN PIN=bed_sensor VALUE=0
#     G91
    
#     {% set i = 5 %}
#     {% for iteration in range(i|int) %}
#         G1 Z1 F900
#         G1 Z-1 F900
#     {% endfor %}
    
#     G90
#     SET_PIN PIN=bed_sensor VALUE=1

# [smart_effector]
# #klipper tenzors sur ok
# pin: U_1:PC1
# recovery_time: 0.4
# x_offset: 0
# y_offset: 0
# #z_offset: -0.5 #adjust later using PROBE_CALIBRATE
###z_offset = -0.120
# speed: 5 # klipper 20
# lift_speed: 5
# probe_accel: 50
# samples: 3
# samples_result: average
# sample_retract_dist: 5.0
# samples_tolerance: 0.05 #0.05
# samples_tolerance_retries: 5
# activate_gcode:
#     SET_PIN PIN=bed_sensor VALUE=1
# deactivate_gcode:
#     SET_PIN PIN=bed_sensor VALUE=0
# ##deactivate_on_each_sample:

# [smart_effector]
# #klipper tenzors
# pin: U_1:PC1
# recovery_time: 0.4
# x_offset: 0
# y_offset: 0
# z_offset: -0.1 #adjust later using PROBE_CALIBRATE
# speed: 5 # klipper 20
# #lift_speed: 5
# probe_accel: 50
# samples: 2
# samples_result: average
# sample_retract_dist: 5.0
# samples_tolerance: 0.05
# samples_tolerance_retries: 5
# activate_gcode:
#     SET_PIN PIN=bed_sensor VALUE=0
#     G91
#     {% set i = 4 %}
#     {% for iteration in range(i|int) %}
#         G1 Z1 F900
#         G1 Z-1 F900
#     {% endfor %}
#     G90
#     SET_PIN PIN=bed_sensor VALUE=1
# #deactivate_gcode:
# #deactivate_on_each_sample:

# [smart_effector]
# #orig tenzors
# pin:U_1:PC1
# recovery_time:0
# x_offset: 17.6
# y_offset: 4.4
# z_offset: 0.000001
# speed:5
# lift_speed:5
# probe_accel:50
# samples: 2
# samples_result: submaxmin
# sample_retract_dist: 5.0
# samples_tolerance: 0.05
# samples_tolerance_retries:5

######################################     STEPPERS     #######################

[extruder]
step_pin: gpio5
dir_pin: gpio4
enable_pin: !gpio10
rotation_distance: 54.5 #53.7  #22.6789511    #Bondtech 5mm Drive Gears
gear_ratio: 1517:170
microsteps: 16 #128 #16 #32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
min_temp: 5
max_temp: 360
min_extrude_temp: 170
#smooth_time: 0.000001
smooth_time: 1.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed to reduce the impact of measurement noise. The default
#   is 1 seconds.
heater_pin: gpio24
sensor_type: MAX6675
sensor_pin: gpio17
spi_software_sclk_pin: gpio18
spi_software_mosi_pin: gpio19
spi_software_miso_pin: gpio16
spi_speed: 100000
max_power: 1
#control = pid
#pid_Kp = 43.290
#pid_Ki = 8.246
#pid_Kd = 56.818
pressure_advance: 0.00
pressure_advance_smooth_time: 0.04
max_extrude_cross_section: 999999 #500 #The default is: 4.0 * nozzle_diameter^2
instantaneous_corner_velocity: 1.0 #klipper = 1.0 #stock = 10.000  #The maximum instantaneous velocity change (in mm/s) of the extruder during the junction of two moves. The default is 1mm/s.
max_extrude_only_distance: 1000.0
max_extrude_only_velocity: 5000
max_extrude_only_accel: 2000
step_pulse_duration: 0.0000001 #0.000002

[stepper_x]
step_pin: U_1:PB4
dir_pin: !U_1:PB3
enable_pin: !U_1:PB5
microsteps: 32
rotation_distance: 38.88 # 1.5GT = 39.0 ( 26 teeth * 1.5 GT ) #orig for 2GT = 39.88 #more = shorter distance
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2240_stepper_x:virtual_endstop
position_min: -5.5
position_endstop: -3 #-5.5
position_max: 245
homing_speed: 100 #50
homing_retract_dist: 5 #0 #Set this to 0 to disable the second home.
homing_retract_speed: 80 # def = homing_speed
second_homing_speed: 50 #default is homing_speed/2
homing_positive_dir: False
step_pulse_duration: 0.0000001

[stepper_y]
step_pin: U_1:PC14
dir_pin: !U_1:PC13
enable_pin: !U_1:PC15
microsteps: 32
rotation_distance: 38.88 # 1.5GT = 39.0 # orig:39.88
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2240_stepper_y:virtual_endstop
position_min: -4.5
position_endstop: -2 #-4.5
position_max: 258 #my 256
homing_speed: 100 #50
homing_retract_dist: 5
homing_retract_speed: 80 # def = homing_speed
second_homing_speed: 50 #default is homing_speed/2
homing_positive_dir: False
step_pulse_duration: 0.0000001


### See z_home_proba.cfg for stepper_z

# [stepper_z]
# step_pin: U_1:PC10
# dir_pin: U_1:PA15
# enable_pin: !U_1:PC11
# microsteps: 16 #32 #128
# rotation_distance: 4
# full_steps_per_rotation: 200
# endstop_pin: probe:z_virtual_endstop
# position_max: 248
# position_min: -4
# homing_speed: 8
# second_homing_speed: 10
# homing_retract_dist: 5.0
# homing_positive_dir: false
# step_pulse_duration: 0.0000001
# # # хитрости qidi для парковки вниз, тут не работает
# # endstop_pin_reverse: tmc2209_stepper_z:virtual_endstop
# # position_endstop: -0.2
# # position_endstop_reverse: 248
# # homing_speed_reverse: 8
# # homing_positive_dir_reverse: true

# [stepper_z1]
# step_pin: U_1:PB1
# dir_pin: U_1:PB6
# enable_pin: !U_1:PB0
# microsteps: 16 #32 #128
# rotation_distance: 4
# full_steps_per_rotation: 200
# step_pulse_duration: 0.0000001
# ## хитрости qidi для парковки вниз, тут не работает
# #endstop_pin_reverse: tmc2209_stepper_z1:virtual_endstop



####################################      HEATERS    #########################

[heater_bed]
heater_pin: U_1:PB10
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: U_1: PA0
max_power: 1.0
#control = pid
#pid_Kp = 72.180
#pid_Ki = 1.104
#pid_Kd = 1180.149
min_temp: 5
max_temp: 150

[heater_generic chamber]
#нагреватель камеры
heater_pin: U_1:PC8
max_power: 1.0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: U_1:PA1
#control = pid
#max_delta: 1.0
#pid_Kp=63.418
#pid_Ki=1.342
#pid_Kd=749.125
min_temp: 5
max_temp: 80 #65
#pwm_cycle_time: 0.1 #max 0.3
#   Time in seconds for each software PWM cycle of the heater. It is
#   not recommended to set this unless there is an electrical
#   requirement to switch the heater faster than 10 times a second.
#   The default is 0.100 seconds.


# [safe_z_home]
# #no, we used homing_override
# home_xy_position: 120, 120 # Change coordinates to the center of your print bed
# speed: 300
# z_hop: 10                 # Move up 10mm 
# z_hop_speed: 10
# #move_to_previous: False
# #   When set to True, the X and Y axes are reset to their previous
# #   positions after Z axis homing. The default is False.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = 0.0015542231427767793
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.910
#*# pid_ki = 1.724
#*# pid_kd = 771.023
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 39.960
#*# pid_ki = 6.055
#*# pid_kd = 65.934
#*#
#*# [heater_generic chamber]
#*# control = pid
#*# pid_kp = 63.327
#*# pid_ki = 0.442
#*# pid_kd = 2270.260
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.273514, -0.198097, -0.118514, -0.092264, -0.131847, -0.163930, -0.188097, -0.240597
#*# 	-0.135597, -0.103097, -0.061014, -0.037680, -0.101847, -0.133930, -0.102680, -0.096430
#*# 	-0.033930, -0.041014, -0.022264, -0.001014, -0.046014, -0.113514, -0.062264, -0.013097
#*# 	0.018570, -0.000180, -0.004764, 0.008986, -0.017264, -0.042680, -0.013097, 0.040236
#*# 	0.037320, 0.003986, -0.014764, -0.013930, 0.003570, 0.014820, 0.033986, 0.062736
#*# 	0.036070, -0.013930, -0.036847, -0.033514, -0.015597, 0.002320, 0.023153, 0.056070
#*# 	0.011070, -0.057264, -0.069764, -0.065180, -0.067680, -0.051430, -0.022264, 0.001903
#*# 	-0.028097, -0.136430, -0.166847, -0.121847, -0.124347, -0.127680, -0.111430, -0.048930
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 32.0
#*# max_x = 229.96
#*# min_y = 15.0
#*# max_y = 229.97000000000003
