
[output_pin bed_sensor]
#[output_pin ctlyd]
#piezo
#
pin: !U_1:PA14
value: 1 #0
# pin: U_1:PA14
# value: 0

#[smart_effector]
[probe]
#klipper tenzors sur ok
pin: U_1:PC1
###recovery_time: 0.4
x_offset: 0
y_offset: 0
z_offset: 0 #adjust later using PROBE_CALIBRATE
##z_offset = -0.120
speed: 10 # klipper 20
lift_speed: 5
###probe_accel: 50
samples: 3 #3
samples_result: median #average
sample_retract_dist: 5.0
samples_tolerance: 0.05 #0.05
samples_tolerance_retries: 0 #5
activate_gcode:
    M118 tenzo activate_gcode
    
    tenzo_prepare
    
    SET_PIN PIN=bed_sensor VALUE=1
deactivate_gcode:
    M118 tenzo deactivate_gcode
    SET_PIN PIN=bed_sensor VALUE=0
    #SET_PIN PIN=bed_sensor VALUE=1
##deactivate_on_each_sample:

[z_tilt]
### Induct probe
z_positions:
    -59,125 #mechanic Z rods
    307.5,125
points:
    35,125 # tenzo 15,125 #all other 0,125
    #215,125
    210,125
speed: 500
horizontal_move_z: 5 #5
retries: 3
retry_tolerance: 0.02

# [auto_z_offset]
# #for Openq1 & FreeDi
# #[smart_effector]
# pin: U_1:PC1
# z_offset: -0.2 #-0.07 default is -0.1
# speed: 5 #8
# probe_accel: 50
# samples: 6 #4 #6
# samples_result: median #average
# samples_tolerance: 0.1 #0.03 #0.05
# samples_tolerance_retries: 3 #2
# prepare_gcode:
#     SET_PIN PIN=bed_sensor VALUE=0
#     G91
    
#     {% set i = 5 %}
#     {% for iteration in range(i|int) %}
#         G1 Z1 F900
#         G1 Z-1 F900
#     {% endfor %}
    
#     G90
#     SET_PIN PIN=bed_sensor VALUE=1

[gcode_macro tenzo_prepare]
gcode:
    SET_PIN PIN=bed_sensor VALUE=0
    G91
    
    {% set i = 5 %}
    {% for iteration in range(i|int) %}
#        G1 Z1 F900
#        G1 Z-1 F900

#        G1 Z10 F900  #good
#        G1 Z-10 F900        
        
        # G1 Z5 F900
        # G1 Z-5 F900        

        FORCE_MOVE STEPPER=stepper_z DISTANCE=10 VELOCITY=1800 ACCEL=1000
        FORCE_MOVE STEPPER=stepper_z1 DISTANCE=10 VELOCITY=1800 ACCEL=1000
        
        FORCE_MOVE STEPPER=stepper_z DISTANCE=-10 VELOCITY=1800 ACCEL=1000
        FORCE_MOVE STEPPER=stepper_z1 DISTANCE=-10 VELOCITY=1800 ACCEL=1000
        
    {% endfor %}
    
    G90
    SET_PIN PIN=bed_sensor VALUE=1

    