
#for microprobe btt
#PROBE_ACCURACY
#Для управления штоком датчика нужен потенциальный, а не PWM сигнал как у BLTouch. 

[probe]
# probe pin
pin: ^!gpio21
x_offset: 28 #24
y_offset: 10.0
z_offset: 0.4 #must be configured individualy
speed: 7
samples: 3
activate_gcode:
    probe_deploy
    G4 P600
deactivate_gcode:
    probe_stow
deactivate_on_each_sample: false

# [bltouch]
# #good if change wires yellow to 11 white to 21
# sensor_pin: gpio21 # Probe
# control_pin: !gpio11 # Servo
# x_offset: 29 #induct 17.6 #3d-touch 29
# y_offset: 4.4
# z_offset: 1.87 #orig nozzle 1.75 # 3dtouch 1.75 # z_offset = 2.086  # чем больше, тем ближе к столу сопло
# speed: 7.0 
# lift_speed: 10
# samples: 3
# samples_result: median #average
# sample_retract_dist: 2.0
# samples_tolerance: 0.05
# samples_tolerance_retries: 3

[output_pin probe_enable]
# servo pin
pin: gpio11
value: 1
				  
[gcode_macro probe_deploy]
gcode:
    SET_PIN PIN=probe_enable VALUE=0

[gcode_macro probe_stow]
gcode:
    SET_PIN PIN=probe_enable VALUE=1

[z_tilt]
### microprobe
z_positions:
    -59,125 #mechanic Z rods
    307.5,125
points:
    0,125 # tenzo 15,125 #all other 0,125
    190,125 #tenzo 225,125 #inductive probe = 215,125  # 3d-touch 190,125
speed: 600 #300
horizontal_move_z: 5
retries: 3
retry_tolerance: 0.02


[bed_mesh]
### microp
speed: 500
horizontal_move_z: 5 #7 #stock
mesh_min: 32,15 #3dtouch=32,15  20,15=ind
mesh_max: 230,230 #induct & 3dtouch 230,230
zero_reference_position: 125, 120
probe_count: 10,10
algorithm: bicubic
bicubic_tension: 0.2 #stock
adaptive_margin: 5
mesh_pps: 2, 2 #stock
fade_start: 1.0 #def
fade_end: 10.0 #rec, def 0
#vibrate_gcode:
#    Z_DOUDONG  #stock


[bed_screws]
### microp
# BED_SCREWS_ADJUST for paper test
screw1: 10,10
screw1_name: Front left
screw2: 190,10 #ind 230,10
screw2_name: Front right
screw3: 93,240 #ind 125,240
screw3_name: Back center
probe_height: 0.2
horizontal_move_z: 10
speed: 300 #50
probe_height: 0 # The height of the probe (in mm) after adjusting for the thermal expansion of bed and nozzle. The default is zero.

# [screws_tilt_adjust]
# ### microp
# # SCREWS_TILT_CALCULATE for probe test
# screw1: 10,30
# screw1_name: Front left
# screw2: 190,30 #blt 190,10 #ind 220,10
# screw2_name: Front right
# screw3: 93,210 #blt 93,230 #ind 125,230
# screw3_name: Back center
# screw_thread: CW-M4
# speed: 300 #50
# horizontal_move_z: 5 #5
[screws_tilt_adjust]
### microp BASE Back center
# SCREWS_TILT_CALCULATE for probe test
screw1: 93,210 #blt 93,230 #ind 125,230
screw1_name: Back center
screw2: 10,30
screw2_name: Front left
screw3: 190,30 #blt 190,10 #ind 220,10
screw3_name: Front right

screw_thread: CW-M4
speed: 600 #50
horizontal_move_z: 5 #5

#############################  for auto_z_offset
[output_pin bed_sensor]
#[output_pin ctlyd]
#piezo
pin: !U_1:PA14
value: 0
pwm: false
shutdown_value: 0

# # Check this for documentation https://github.com/frap129/qidi_auto_z_offset
# # Add AUTO_Z_LOAD_OFFSET to your PRINT_START macro to load the value every time you start a print. 
# # If you make adujstments to the offset by micro-stepping durring a print, you can save that with AUTO_Z_SAVE_GCODE_OFFSET and SAVE_CONFIG
# [auto_z_offset]
# pin: U_1:PC1
# # Adjust this z_offset value for a good first layer: 
# # decrease if lines are squished (eg -0.2 -> -0.25)
# # increase if lines are thin/not sticking (-0.2 -> -0.15)
# z_offset: 0 #-0.07 Correction.
# calibrated_z_offset: 0 #-1.00 # WTF?
# speed: 13
# probe_accel: 50
# samples: 5
# samples_result: median
# samples_tolerance: 0.013
# samples_tolerance_retries: 5
# offset_samples: 3
# prepare_gcode:
#   G90
#   G0 Z3
#   G91
#   SET_PIN PIN=bed_sensor VALUE=0
#   M204 S10000
#   {% set i = 6 %}
#   {% for iteration in range(i|int) %}
#       G1 Z5 F900 #F1200
#       G1 Z-5 F900 #F1200
#   {% endfor %}
#   G1 Z3
#   G90
#   SET_PIN PIN=bed_sensor VALUE=1

# [auto_z_offset]
# #for Openq1 & FreeDi
# #[smart_effector]
# pin: U_1:PC1
# z_offset: 0.0 #-0.07 default is -0.1 ##The offset between measured 0 and when the bed sensors trigger. default is -0.1
# speed: 5 #8
# probe_accel: 50
# samples: 4 #6
# samples_result: median #average
# samples_tolerance: 0.02
# samples_tolerance_retries: 3
# prepare_gcode:
#     SET_PIN PIN=bed_sensor VALUE=0
#     G91
#     {% set i = 5 %}
#     {% for iteration in range(i|int) %}
#         G1 Z1 F900
#         G1 Z-1 F900
#     {% endfor %}
#     G90
#     SET_PIN PIN=bed_sensor VALUE=1


#manual for OpenQ1: [auto_z_offset]
#pin:
#   Pin connected to the Auto Z Offset output pin. This parameter is required.
#z_offset:
#   The offset between measured 0 and when the bed sensors trigger.
#   default is -0.1
#prepare_gcode:
#   gcode script to run before probing with auto_z_offset. This is required, and an
#   example script is provided below.
#probe_accel:
#   If set, limits the acceleration of the probing moves (in mm/sec^2).
#   A sudden large acceleration at the beginning of the probing move may
#   cause spurious probe triggering, especially if the hotend is heavy.
#   To prevent that, it may be necessary to reduce the acceleration of
#   the probing moves via this parameter.
#probe_hop:
#   The amount to hop between probing with bed sensors and probing with probe.
#   default is 5.0, min is 4.0 to avoid triggering the probe early
#offset_samples:
#   The number of times to probe with bed sensors and inductive probe when running
#   AUTO_Z_CALIBRATE. Note this is not the same as `samples`.
#   default is 3
#speed:
#samples:
#sample_retract_dist:
#samples_result:
#samples_tolerance:
#samples_tolerance_retries:
#activate_gcode:
#deactivate_gcode:
#deactivate_on_each_sample:
#   See the "probe" section for more information on the parameters above.


####################################################
