
[gcode_macro Z_Auto_Calibrate]
description: вызывать AUTO_Z_CALIBRATE
gcode:   
    ;G28 ;припарковать все оси
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}    
    G1 X120 Y120 F18000
    
    AUTO_Z_CALIBRATE
    
[gcode_macro Z_Auto_Calibrate_Temp]
description: нагреть все, найти офсет, вызывать AUTO_Z_CALIBRATE
gcode:
    {% set TB = params.TB|default(80) %}
    {% set TE = params.TE|default(240) %}
    M140 S{TB} # set bedtemp
    
    ;G28 ;припарковать все оси
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}    
    G1 X120 Y120 F18000
    
    #CLEAR_NOZZLE HOTEND={TE}
    M190 S{TB}   #wait bedtemp
    
    AUTO_Z_CALIBRATE
    
    #G1 Z0 F600 # Z в ноль
    # скорректировать по бумажке и записать SAVE_CONFIG

[gcode_macro Z_Auto_Z_PROBE]
description: Probe Z-height at center position with bed sensors, show result
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
       G28
    {% endif %}
    G1 X120 Y120 F18000
    
    AUTO_Z_PROBE
    
    G1 Z3 F600

[gcode_macro Z_Auto_HOME_Z]
description: Home Z using the bed sensors as an endstop
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
       G28
    {% endif %}
    G1 X120 Y120 F18000
    
    AUTO_Z_HOME_Z

[gcode_macro Z_AUTO_Z_MEASURE_OFFSET]
description: Z-Offset measured by the inductive probe after AUTO_Z_HOME_Z
gcode:
    # {% set HOME_CUR = 0.4 %}
    # {% set driver_config = printer.configfile.settings['tmc2209 stepper_z'] %}
    # {% set RUN_CUR = driver_config.run_current %}
    
    {% if "xyz" not in printer.toolhead.homed_axes %}
       G28
    {% endif %}
    G1 X120 Y120 F18000
    
#    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={HOME_CUR}    
    AUTO_Z_MEASURE_OFFSET
#    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={RUN_CUR}
    
# [gcode_macro Z_AUTO_Z_LOAD_OFFSET]
# description: Apply the calibrated_z_offset saved in the config file
# gcode:
#     AUTO_Z_LOAD_OFFSET

    
# [gcode_macro Z_Auto_SAVE_GCODE_OFFSET]
# description: Save the current gcode offset for z as the new calibrated_z_offset
# gcode:
#     AUTO_Z_SAVE_GCODE_OFFSET

   